<div>
    <p>Hi, <%= recover_user.user.name %> </p>
    <br>
    <p>Click the link below to reset your Password</p>
    <p> <a href="http://localhost:8000/users/reset/<%= recover_user.token %>">Recover Password</a> </p>
</div>