<footer>
    <p id="copyright"><span><i class="far fa-copyright"></i></span> coding ninjas. all rights reserved.</p>
    <div id="links">
        <p><a href="/">home</a></p>
        <p><a href="/users/profile">profile</a></p>
    </div>
</footer>