<header>
    this is header section
    <% if(locals.user){ %>
        <a href="/users/sign-out">sign-out</a>
    <% } else{ %>
        <a href="/users/sign-in">sign-in</a>
        <a href="/users/sign-up">sign-up</a>
    <%}%>
</header>