footer{
    width: 100%;
    height: 50px;
    background-color: rgb(125, 125, 125);
}
#copyright{
    display: inline;
    color: white;
    text-transform: capitalize;
    margin: 0;
    margin-right: 5px;
}
#links{
    display: inline-block;
    p{ 
        margin: 0;
        a{
            color: white;
            text-decoration: none;
        }
    }
}